.editorconfig
.git
.gitattributes
.gitignore
.pre-commit-config.yaml
.python-version
.ruff_cache
.venv
.vscode
db.sqlite3
docker-compose.yml
justfile
README.md
LICENSE
CLAUDE.md
Dockerfile
.bash_history
.python_history
