{% extends "base.html" %}

{% block content %}

<h1>Opdrachten</h1>

<form id="assignment-filter-form"
      hx-get="/assignments/"
      hx-target="#assignment_table"
      hx-swap="outerHTML"
      class="rvo-layout-grid rvo-layout-gap--md rvo-layout-grid-columns--four"
      style="margin-bottom: 2em;">
    <div class="rvo-layout-column rvo-layout-gap--sm">
        <label for="name-search" class="rvo-label">Naam</label>
        <input type="text" 
               id="name-search" 
               name="name" 
               value="{{ request.GET.name|default:'' }}"
               placeholder="Zoek op naam of opdrachtgever..."
               class="utrecht-textbox utrecht-textbox--html-input"
               hx-get="/assignments/" 
               hx-target="#assignment_table" 
               hx-trigger="keyup delay:300ms">
    </div>
    <div class="rvo-layout-column rvo-layout-gap--sm">
        <label for="status-filter" class="rvo-label">Status</label>
        <select id="status-filter"
                name="status"
                class="js-status-select utrecht-select utrecht-select--html-select"
                multiple
                hx-get="/assignments/" 
                hx-target="#assignment_table" 
                hx-trigger="change">
                <!-- TODO: should not be hardcoded here -->
            <option value="LEAD">LEAD</option>
            <option value="OPEN">OPEN</option>
            <option value="LOPEND">LOPEND</option>
            <option value="AFGEWEZEN">AFGEWEZEN</option>
            <option value="HISTORISCH">HISTORISCH</option>
        </select>
    </div>
    <div class="rvo-layout-column rvo-layout-gap--sm">
        <label for="sort-filter" class="rvo-label">Sortering</label>
        <select id="sort-filter"
                name="order"
                class="utrecht-select utrecht-select--html-select"
                hx-get="/assignments/" 
                hx-target="#assignment_table" 
                hx-trigger="change">
            <option value="-start_date">Startdatum ↓</option>
            <option value="start_date">Startdatum ↑</option>
        </select>
    </div>
    <div class="rvo-layout-column rvo-layout-gap--sm" style="align-self: end; text-align: right;">
        <a href="/assignments/new">
          <button
            class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md utrecht-button--icon-before"
            type="button"
          >
            <span
              class="utrecht-icon rvo-icon rvo-icon-plus rvo-icon--md rvo-icon--wit"
              role="img"
              aria-label="Plus"
            ></span>
            Nieuwe opdracht toevoegen
          </button>
        </a>
    </div>
</form>

<br>
<br>

<div class="rvo-table--responsive">
  {% include 'parts/assignment_table.html' %}
</div>
{% endblock content %}
