{% extends "base.html" %}

{% block content %}
<div>
  <a href="/assignments/" class="rvo-link rvo-link--with-icon rvo-link--no-underline">
    <span class="utrecht-icon rvo-icon rvo-icon-terug rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before" role="img" aria-label="Terug"></span>
    Terug naar opdrachten
  </a>
</div>
{% include "parts/rvo_form_layout.html" with heading="Opdracht bewerken" form_intro="<span class='rvo-text--bold'>Pas de gegevens van de opdracht aan.</span> Wijzig de naam en startdatum van de opdracht." legend="Opdracht gegevens" submit_text="Update" %}
{% endblock content %}
