{% extends "base.html" %}

{% block header %}
{{ block.super }}
{% include 'parts/clients_navigation.html' with active_page='clients' %}
{% endblock %}

{% block content %}

<!-- Statistics Cards -->
<div class="rvo-max-width-layout rvo-max-width-layout--md" style="margin-bottom: 2rem;">
  <div class="rvo-layout-grid rvo-layout-gap--md rvo-layout-grid-columns--three">
    <div class="rvo-card rvo-card--outline rvo-card--padding-md">
      <div class="rvo-card__content">
        <span class="utrecht-icon rvo-icon rvo-icon-man-met-laptop rvo-icon--2xl rvo-icon--hemelblauw" role="img" aria-label="Consultants op opdracht"></span>
        <h4 class="utrecht-heading-4 rvo-heading--no-margins">Consultants op opdracht</h4>
        {{ consultants_working }}
      </div>
    </div>
    <div class="rvo-card rvo-card--outline rvo-card--padding-md">
      <div class="rvo-card__content">
        <span class="utrecht-icon rvo-icon rvo-icon-basis-kantoorgebouw rvo-icon--2xl rvo-icon--hemelblauw" role="img" aria-label="Aantal opdrachtgevers"></span>
        <h4 class="utrecht-heading-4 rvo-heading--no-margins">Aantal opdrachtgevers</h4>
        {{ total_clients_count }}
      </div>
    </div>
    <div class="rvo-card rvo-card--outline rvo-card--padding-md">
      <div class="rvo-card__content">
        <span class="utrecht-icon rvo-icon rvo-icon-budget rvo-icon--2xl rvo-icon--hemelblauw" role="img" aria-label="Totale omzet"></span>
        <h4 class="utrecht-heading-4 rvo-heading--no-margins">Totale omzet</h4>
        € {{ formatted_budget }}
      </div>
    </div>
  </div>
</div>

{% include 'parts/generic_filter_bar.html' with url_name='clients' target_selector='#client_table' %}

<div class="rvo-layout-column rvo-layout-gap--md">
  <!-- Clients Content -->
  <div id="client_table">
    {% include 'parts/clients_table.html' %}
  </div>
</div>

{% endblock content %}