{% extends "base.html" %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--xl">

  <!-- Breadcrumbs -->
  <ol class="rvo-breadcrumbs rvo-breadcrumbs--sm">
    <li class="rvo-breadcrumbs-item">
      <a href="/clients/" class="rvo-link rvo-link--no-underline">Opdrachtgevers</a>
    </li>
    <li class="rvo-breadcrumbs-item">
      <span class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--xs rvo-icon--hemelblauw" role="img" aria-label="Delta naar rechts"></span>
      <span class="rvo-breadcrumb-current-page">{{ client_name }}</span>
    </li>
  </ol>

  <div>
    <h1 class="utrecht-heading-1 rvo-heading--no-margins">{{ client_name }}</h1>
  </div>
  
  <div class="rvo-layout-column rvo-layout-gap--lg">
    <h2 class="utrecht-heading-2 rvo-heading--no-margins">Opdrachten</h2>
    
    <div class="rvo-table--responsive">
      <table class="rvo-table">
        <thead class="rvo-table-head">
          <tr class="rvo-table-row">
            <th class="rvo-table-header">Opdracht naam</th>
            <th class="rvo-table-header">Collega's</th>
            <th class="rvo-table-header">Status</th>
            <th class="rvo-table-header">Start datum</th>
            <th class="rvo-table-header">Eind datum</th>
          </tr>
        </thead>
        <tbody class="rvo-table-body">
          {% for assignment in assignments %}
          <tr class="rvo-table-row clickable-row" style="cursor: pointer;" onclick="window.location='{% url 'assignment-detail' assignment.id %}'">
            <td class="rvo-table-cell">
              {{ assignment.name }}
            </td>
            <td class="rvo-table-cell">
              {% for colleague in assignment.colleagues %}
                <a href="{% url 'colleague-detail' colleague.id %}" class="rvo-link" onclick="event.stopPropagation()">{{ colleague.name }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
            <td class="rvo-table-cell">
              <div class="rvo-tag {% if assignment.status == 'LEAD' %}rvo-tag--warning{% elif assignment.status == 'OPEN' %}rvo-tag--info{% elif assignment.status == 'LOPEND' %}rvo-tag--success{% elif assignment.status == 'AFGEWEZEN' %}rvo-tag--error{% else %}rvo-tag--default{% endif %}">{{ assignment.status }}</div>
            </td>
            <td class="rvo-table-cell">{{ assignment.start_date }}</td>
            <td class="rvo-table-cell">{{ assignment.end_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}