{% extends "base.html" %}

{% block content %}

<h1 class="utrecht-heading-1">Consultants</h1>

<form id="assignment-filter-form"
      hx-get="/colleagues/"
      hx-target="#colleague_table"
      hx-trigger="change, keyup delay:300ms from:#name-search"
      hx-swap="outerHTML"
      class="rvo-layout-grid rvo-layout-gap--md rvo-layout-grid-columns--three"
      style="margin-bottom: 2em;">
    <div class="rvo-layout-column rvo-layout-gap--sm">
        <label for="name-search" class="rvo-label">Naam</label>
        <input type="text" 
               id="name-search" 
               name="name" 
               value="{{ request.GET.name|default:'' }}"
               placeholder="Zoek op naam..."
               class="utrecht-textbox utrecht-textbox--html-input">
    </div>
    <div class="rvo-layout-column rvo-layout-gap--sm">
        <label for="skill-filter" class="rvo-label">Rol</label>
        <select id="skill-filter"
                name="skill"
                class="js-skills-filter utrecht-select utrecht-select--html-select">
                <!-- TODO: this list should not be hardcoded -->
            <option></option> <!--to make sure it starts empty -->
            <option value="BE_DEV">Backend development</option>
            <option value="FE_DEV">Frontend development</option>
            <option value="PO">Product owner</option>
            <option value="UX_DES">UX designer</option>
            <option value="AI_CONS">AI Consultant</option>
            <option value="AI_JUR">AI Jurist</option>
            <option value="RES">Researcher</option>
            <option value="DAT_ENG">Data engineer</option>
            <option value="PROJ_LEAD">Project leader</option>
        </select>
    </div>
    <div class="rvo-layout-column rvo-layout-gap--sm" style="align-self: end; text-align: right;">
        <a href="/colleagues/new">
          <button
            class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md utrecht-button--icon-before"
            type="button"
          >
            <span
              class="utrecht-icon rvo-icon rvo-icon-plus rvo-icon--md rvo-icon--wit"
              role="img"
              aria-label="Plus"
            ></span>
            Nieuwe consultant toevoegen
          </button>
        </a>
    </div>
</form>

<div class="rvo-table--responsive">
{% include 'parts/colleague_table.html' %}
</div>

{% endblock content %}