{% extends "base.html" %}

{% block content %}
<div>
  <a href="/colleagues/" class="rvo-link rvo-link--with-icon rvo-link--no-underline">
    <span class="utrecht-icon rvo-icon rvo-icon-terug rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before" role="img" aria-label="Terug"></span>
    Terug naar consultants
  </a>
</div>
{% include "parts/rvo_form_layout.html" with form=form heading="Nieuwe consultant toevoegen" form_intro="<span class='rvo-text--bold'>Vul de gegevens in voor de nieuwe consultant.</span> Voer de naam en functie van de consultant in." legend="Consultant gegevens" submit_text="Consultant toevoegen" %}
{% endblock content %}