{% extends 'base.html' %}
{% load static %}

{% block header %}
{{ block.super }}
{% include 'parts/placement_navigation.html' with active_page='table' %}
{% endblock %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--md">
  
  {% include 'parts/generic_filter_bar.html' with url_name='placements-table' target_selector='#placement_table' %}

  <!-- Content -->
  <div id="placement_table" class="rvo-table-container">
    {% include 'parts/placement_table.html' %}
  </div>

</div>

{% endblock %}