{% extends "base.html" %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--xl">
  
  <div class="rvo-layout-column rvo-layout-gap--lg">
    <h2 class="utrecht-heading-2 rvo-heading--no-margins">Inzet gegevens</h2>
    
    <dl class="rvo-data-list">
      <dt>Opdracht</dt>
      <dd><a href="{% url 'assignment-detail' object.service.assignment.pk %}">{{ object.service.assignment }}</a></dd>
      <dt>Dienst</dt>
      <dd>{{ object.service.description }}</dd>
      <dt>Collega</dt>
      <dd>{{ object.colleague }}</dd>
      <dt>Skills</dt>
      <dd>{{ object.skills|get_skill_labels|join:", " }}</dd>
      <dt>Periode bron</dt>
      <dd>{{ object.get_period_source_display }}</dd>
      <dt>Start datum specifiek</dt>
      <dd>{{ object.specific_start_date }}</dd>
      <dt>Eind datum specifiek</dt>
      <dd>{{ object.specific_end_date }}</dd>
      <dt>Start datum (berekend)</dt>
      <dd>{{ object.start_date }}</dd>
      <dt>Eind datum (berekend)</dt>
      <dd>{{ object.end_date }}</dd>
      <dt>Uren per week</dt>
      <dd>{{ object.hours_per_week }}</dd>
    </dl>
  </div>
</div>

<div class="rvo-layout-row rvo-layout-gap--md">
      <a href="/placements/{{ object.pk }}/update" class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md">
        Inzet bewerken
      </a>
      <a href="/placements/{{ object.pk }}/delete" class="utrecht-button utrecht-button--subtle utrecht-button--warning utrecht-button--rvo-md">
        Inzet verwijderen
      </a>
    </div>

{% endblock content %}