{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="rvo-max-width-layout rvo-max-width-layout--lg rvo-max-width-layout-inline-padding--none">
  <div class="rvo-layout-column rvo-layout-gap--0">
    <div class="rvo-layout-column rvo-layout-gap--0">
      <h1 class="utrecht-heading-1">Nieuwe inzet toevoegen</h1>
      <p class="rvo-text--lg"><span class='rvo-text--bold'>Vul de gegevens in van nieuwe inzet.</span> Vul de gegevens in van nieuwe inzet.</p>
    </div>
    <form class="rvo-layout-column rvo-layout-gap--md" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="utrecht-form-fieldset rvo-form-fieldset rvo-layout-gap--0">
        <fieldset class="utrecht-form-fieldset__fieldset utrecht-form-fieldset--html-fieldset">
          <legend class="utrecht-form-fieldset__legend utrecht-form-fieldset__legend--html-legend">
            Inzet gegevens
          </legend>
          <div class="rvo-layout-column rvo-layout-gap--md">

            <!-- Service Preview Table -->
                <div id="service-preview">
                  <h3 class="utrecht-heading-3">Geselecteerde dienst</h3>
                  <table class="rvo-table" style="border-collapse: collapse; border: 1px solid #ccc;">
                    <thead>
                      <tr>
                        <th>Omschrijving</th>
                        <th>Rol</th>
                        <th>Start datum</th>
                        <th>Eind datum</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>{{ service.description }}</td>
                          <td>{{ service.skill }}</td>
                          <td>{{ service.start_date}}</td>
                          <td>{{ service.end_date}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

            {% for field in form %}
              {% if field.name == "specific_start_date" %}
                <div class="utrecht-form-field rvo-form-field rvo-layout-gap--0" id="specific_start_date_field" style="display: none;">
                  <div class="rvo-form-field__label">
                    <label class="rvo-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                  </div>
                  {{ field }}
                  {% if field.help_text %}
                    <div class="utrecht-form-field-description">{{ field.help_text }}</div>
                  {% endif %}
                  {% for error in field.errors %}
                    <div class="utrecht-form-field-description utrecht-form-field-description--invalid rvo-form-feedback rvo-form-feedback--error">{{ error }}</div>
                  {% endfor %}
                </div>
              {% elif field.name == "specific_end_date" %}
                <div class="utrecht-form-field rvo-form-field rvo-layout-gap--0" id="specific_end_date_field" style="display: none;">
                  <div class="rvo-form-field__label">
                    <label class="rvo-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                  </div>
                  {{ field }}
                  {% if field.help_text %}
                    <div class="utrecht-form-field-description">{{ field.help_text }}</div>
                  {% endif %}
                  {% for error in field.errors %}
                    <div class="utrecht-form-field-description utrecht-form-field-description--invalid rvo-form-feedback rvo-form-feedback--error">{{ error }}</div>
                  {% endfor %}
                </div>
              {% elif field.name == "specific_hours_per_week" %}
                <div class="utrecht-form-field rvo-form-field rvo-layout-gap--0" id="specific_hours_per_week_field" style="display: none;">
                  <div class="rvo-form-field__label">
                    <label class="rvo-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                  </div>
                  {{ field }}
                  {% if field.help_text %}
                    <div class="utrecht-form-field-description">{{ field.help_text }}</div>
                  {% endif %}
                  {% for error in field.errors %}
                    <div class="utrecht-form-field-description utrecht-form-field-description--invalid rvo-form-feedback rvo-form-feedback--error">{{ error }}</div>
                  {% endfor %}
                </div>
              {% else %}
                <div class="utrecht-form-field rvo-form-field rvo-layout-gap--0">
                  <div class="rvo-form-field__label">
                    <label class="rvo-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                  </div>
                  {{ field }}
                  {% if field.help_text %}
                    <div class="utrecht-form-field-description">{{ field.help_text }}</div>
                  {% endif %}
                  {% for error in field.errors %}
                    <div class="utrecht-form-field-description utrecht-form-field-description--invalid rvo-form-feedback rvo-form-feedback--error">{{ error }}</div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </fieldset>
      </div>
      <p class="utrecht-button-group">
        <button type="submit" class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md">
          Inzet toevoegen
        </button>
        {% if cancel_url %}
          <a href="{{ cancel_url }}" class="utrecht-button utrecht-button--secondary-action utrecht-button--rvo-md">
            Annuleren
          </a>
        {% endif %}
      </p>
    </form>
  </div>
</div>

<script src="{% static 'js/placement_form.js' %}"></script>

{% endblock content %}