{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}

{% block header %}
{{ block.super }}
{% include 'parts/placement_navigation.html' with active_page='availability' %}
{% endblock %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--md">
  
  {% include 'parts/generic_filter_bar.html' with url_name='placements-availability' target_selector='#placement-content' %}

  <!-- Timeline Content -->
  <div id="placement-content">
    {% include 'parts/placement_timeline.html' %}
  </div>

</div>

{% endblock %}