{% extends "base.html" %}

{% block content %}

<h1>Consultants</h1>

<form action="/colleagues/new">
    <button
      class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md utrecht-button--icon-before"
      type="submit"
    >
      <span
        class="utrecht-icon rvo-icon rvo-icon-plus rvo-icon--md rvo-icon--wit"
        role="img"
        aria-label="Plus"
      ></span>
      Nieuwe consultant toevoegen
    </button>
</form>

<br>
<br>

<div class="rvo-table--responsive">
  <table class="rvo-table">
    <thead class="rvo-table-head">
      <tr class="rvo-table-row">
        <th scope="col" class="rvo-table-header">
          <div class="rvo-table-header__sortable-container">
            Naam
          </div>
        </th>
        <th scope="col" class="rvo-table-header">
          <div class="rvo-table-header__sortable-container">
            Rollen
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="rvo-table-body">
      {% for colleague in object_list %}
      <tr class="rvo-table-row">
        <td class="rvo-table-cell"><a href="/colleagues/{{ colleague.pk }}/">{{ colleague.name }}</a></td>
        <td class="rvo-table-cell">
          {{ colleague.skills|get_skill_labels|join:", " }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}