{% extends "base.html" %}

{% block content %}

<h1>Opdracht verwijderen</h1>

<p>Weet je zeker dat je de opdracht "{{ object.name }}" wil verwijderen?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="utrecht-button utrecht-button--subtle utrecht-button--warning utrecht-button--rvo-md">Ja, verwijder opdracht</button>
    <a href="/jobs/{{ object.pk }}/" class="utrecht-button utrecht-button--secondary-action utrecht-button--rvo-md">Annuleren</a>
</form>

{% endblock content %}