{% extends "base.html" %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--xl">
  <div>
        <!-- Breadcrumbs -->
        <ol class="rvo-breadcrumbs rvo-breadcrumbs--sm">
          <li class="rvo-breadcrumbs-item">
            <a href="/jobs/" class="rvo-link rvo-link--no-underline">Opdrachten</a>
          </li>
          <li class="rvo-breadcrumbs-item">
            <span class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--xs rvo-icon--hemelblauw" role="img" aria-label="Delta naar rechts"></span>
            <span class="rvo-breadcrumb-current-page">{{ object.name }}</span>
          </li>
        </ol>
    <h1 class="utrecht-heading-1 rvo-heading--no-margins">{{ object.name }}</h1>
  </div>
  
  <div class="rvo-layout-column rvo-layout-gap--lg">
    <h2 class="utrecht-heading-2 rvo-heading--no-margins">Opdracht gegevens</h2>
    
    <dl class="rvo-data-list">
      <dt>Opdracht naam</dt>
      <dd>{{ object.name }}</dd>
      <dt>Organisatie</dt>
      <dd><a href="/clients/{{ object.organization }}">{{ object.organization }}</a></dd>
      <dt>Status</dt>
      <dd>{{ object.status }}</dd>
      <dt>Startdatum</dt>
      <dd>{{ object.start_date }}</dd>
      <dt>Einddatum</dt>
      <dd>{{ object.end_date }}</dd>
      <dt>Extra info</dt>
      <dd>{{ object.extra_info }}</dd>
    </dl>

    <h2 class="utrecht-heading-2 rvo-heading--no-margins">Inzet</h2>

    <table class="rvo-table" style="border-collapse: collapse; border: 1px solid #ccc;">
      <style>
        .rvo-table th, .rvo-table td {
          border: 1px solid #ccc;
          padding: 8px;
        }
      </style>
      <thead>
        <tr>
          <th style="width: 60px;">ID</th>
          <th>Skills</th>
          <th>Colleague</th>
          <th>Period</th>
          <th>Hours per week</th>
        </tr>
      </thead>
      <tbody>
        {% for assignment in object.assignments.all %}
        <tr>
          <td><a href="/assignments/{{ assignment.id }}">{{ assignment.id }}</a></td>
          <td>{{ assignment.skills|get_skill_labels|join:", " }}</td>
          <td>
            {% if assignment.colleague %}
              <a href="{% url 'colleague-detail' assignment.colleague.pk %}">{{ assignment.colleague.name }}</a>
            {% else %}
              -
            {% endif %}
          </td>
          <td>{{ assignment.start_date }} - {{ assignment.end_date }}</td>
          <td>{{ assignment.hours_per_week }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="rvo-layout-row rvo-layout-gap--md">
      <a href="/jobs/{{ object.pk }}/update" class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md">
        Opdracht bewerken
      </a>
      <a href="/jobs/{{ object.pk }}/delete" class="utrecht-button utrecht-button--subtle utrecht-button--warning utrecht-button--rvo-md">
        Opdracht verwijderen
      </a>
    </div>
  </div>
</div>
{% endblock content %}
