{% extends "base.html" %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--xl">
  
  <div class="rvo-layout-column rvo-layout-gap--lg">
    <h2 class="utrecht-heading-2 rvo-heading--no-margins">Inzet gegevens</h2>
    
    <dl class="rvo-data-list">
      <dt>Opdracht</dt>
      <dd><a href="{% url 'assignment-detail' object.assignment.pk %}">{{ object.assignment }}</a></dd>
      <dt>Collega</dt>
      <dd>{{ object.colleague }}</dd>
    </dl>
  </div>
</div>

<div class="rvo-layout-row rvo-layout-gap--md">
      <a href="/placements/{{ object.pk }}/update" class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md">
        Inzet bewerken
      </a>
      <a href="/placements/{{ object.pk }}/delete" class="utrecht-button utrecht-button--subtle utrecht-button--warning utrecht-button--rvo-md">
        Inzet verwijderen
      </a>
    </div>

{% endblock content %}