{% extends "base.html" %}

{% block content %}
<div>
  <a href="/projects/" class="rvo-link rvo-link--with-icon rvo-link--no-underline">
    <span class="utrecht-icon rvo-icon rvo-icon-terug rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before" role="img" aria-label="Terug"></span>
    Terug naar projecten
  </a>
</div>
{% include "parts/rvo_form_layout.html" with form=form heading="Nieuw project toevoegen" form_intro="<span class='rvo-text--bold'>Vul de gegevens in voor het nieuwe project.</span> Voer de naam en startdatum van het project in." legend="Project gegevens" submit_text="Project toevoegen" %}
{% endblock content %}
