{% extends "base.html" %}

{% block content %}

<h1>Projecten</h1>

<form action="/projects/new">
    <button
      class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md utrecht-button--icon-before"
      type="submit"
    >
      <span
        class="utrecht-icon rvo-icon rvo-icon-plus rvo-icon--md rvo-icon--wit"
        role="img"
        aria-label="Plus"
      ></span>
      Nieuw project toevoegen
    </button>
</form>

<br>
Filter on status:

<select name="status" multiple hx-get="/projects/", hx-target="#project_table", hx-swap="outerHTML", hx-include="[name='sort']">
    <option value="LEAD">LEAD</option>
    <option value="OPEN">OPEN</option>
    <option value="LOPEND">LOPEND</option>
    <option value="AFGEWEZEN">AFGEWEZEN</option>
    <option value="HISTORISCH">HISTORISCH</option>
</select>

<br>
<br>

Sorting on start date:
<select name="order", hx-get="/projects/", hx-include="[name='status']", hx-target="#project_table">
  <option value="start_date">Asc</option>
  <option value="-start_date", selected="selected">Desc</option>
</select>

<br>
<br>
<br>

<div class="rvo-table--responsive">
  {% include 'project_table.html' %}
</div>
{% endblock content %}
