{% extends "base.html" %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--xl">
  <div>
        <!-- Breadcrumbs -->
        <ol class="rvo-breadcrumbs rvo-breadcrumbs--sm">
          <li class="rvo-breadcrumbs-item">
            <a href="/projects/" class="rvo-link rvo-link--no-underline">Projecten</a>
          </li>
          <li class="rvo-breadcrumbs-item">
            <span class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--xs rvo-icon--hemelblauw" role="img" aria-label="Delta naar rechts"></span>
            <span class="rvo-breadcrumb-current-page">{{ object.name }}</span>
          </li>
        </ol>
    <h1 class="utrecht-heading-1 rvo-heading--no-margins">{{ object.name }}</h1>
  </div>
  
  <div class="rvo-layout-column rvo-layout-gap--lg">
    <h2 class="utrecht-heading-2 rvo-heading--no-margins">Project gegevens</h2>
    
    <dl class="rvo-data-list">
      <dt>Project naam</dt>
      <dd>{{ object.name }}</dd>
      <dt>Status</dt>
      <dd>{{ object.status }}</dd>
      <dt>Startdatum</dt>
      <dd>{{ object.start_date }}</dd>
      <dt>Project ID</dt>
      <dd>{{ object.pk }}</dd>
      <dt>Collega's</dt>
      <dd>
        {% for colleague in colleague_list %}
          <a href="/colleagues/{{ colleague.id }}/">{{ colleague.name }}</a>,
        {% endfor %}
      </dd>
    </dl>
    
    <div class="rvo-layout-row rvo-layout-gap--md">
      <a href="/projects/{{ object.pk }}/update" class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md">
        Project bewerken
      </a>
      <a href="/projects/{{ object.pk }}/delete" class="utrecht-button utrecht-button--subtle utrecht-button--warning utrecht-button--rvo-md">
        Project verwijderen
      </a>
    </div>
  </div>
</div>
{% endblock content %}