<div class="rvo-table--responsive">
  <table class="rvo-table">
    <thead class="rvo-table-head">
      <tr class="rvo-table-row">
        <th scope="col" class="rvo-table-header">
          <div class="rvo-table-header__sortable-container">
            Naam
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="rvo-table-body">
      {% for client in clients %}
      <tr class="rvo-table-row clickable-row" onclick="window.location='/clients/{{ client }}'">
        <td class="rvo-table-cell">{{ client }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>