<div class="rvo-table--responsive" id="colleague_table">
  <table class="rvo-table">
          <thead class="rvo-table-head">
        <tr class="rvo-table-row">
            {% include 'parts/generic_sortable_header.html' with field='name' label='Naam' target='#colleague_table' %}
            {% include 'parts/generic_sortable_header.html' with field='brand__name' label='Merk' target='#colleague_table' %}
        <th scope="col" class="rvo-table-header">
          <div class="rvo-table-header__sortable-container">
            Rollen
          </div>
        </th>
      </tr>
    </thead>
    <tbody class="rvo-table-body">
      {% for colleague in object_list %}
      <tr class="rvo-table-row">
        <td class="rvo-table-cell"><a href="/colleagues/{{ colleague.pk }}/">{{ colleague.name }}</a></td>
        <td class="rvo-table-cell">
          {% if colleague.brand %}
            {{ colleague.brand.name }}
          {% else %}
            <span class="rvo-text--italic">-</span>
          {% endif %}
        </td>
        <td class="rvo-table-cell">
          {% for skill in colleague.skills.all %}
            <span class="skill-badge">{{ skill.name }}</span>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>