<header class="rvo-header">
  <div class="rvo-header__logo-wrapper">
    <div class="rvo-logo rvo-header__logo-img">
      <div class="rvo-logo__emblem">
        <img src="https://cdn.jsdelivr.net/npm/@nl-rvo/assets@latest/images/emblem.svg" alt="RVO Embleem">
      </div>
      <div class="rvo-logo__wordmark">
        <p class="rvo-logo__title">Organisatie voor Ontwikkeling, <br> Digitalisering en Innovatie</p>
      </div>
    </div>
  </div>
</header>
<div class="rvo-menubar__background">
  <div class="rvo-max-width-layout rvo-max-width-layout--md rvo-max-width-layout-inline-padding--none">
    <nav class="rvo-menubar rvo-menubar--md">
      <ul class="rvo-menubar__ul">
        <li class="rvo-menubar__list">
          <ul class="rvo-menubar__group--flex">
            <li class="rvo-menubar__item">
              <a href="/assignments/" class="rvo-link rvo-menubar__link rvo-link--logoblauw">Opdrachten</a>
            </li>
            <li class="rvo-menubar__item">
              <a href="/colleagues/" class="rvo-link rvo-menubar__link rvo-link--logoblauw">Consultants</a>
            </li>
            <li class="rvo-menubar__item">
              <a href="/clients/" class="rvo-link rvo-menubar__link rvo-link--logoblauw">Klant & relaties</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div> 