<div class="rvo-table--responsive">
    <table class="rvo-table">
        <thead class="rvo-table-head">
            <tr class="rvo-table-row">
                <th scope="col" class="rvo-table-header">Naam</th>
                <th scope="col" class="rvo-table-header">Aantal opdrachten</th>
            </tr>
        </thead>
        <tbody class="rvo-table-body">
            {% for ministry in ministries %}
            <tr class="rvo-table-row">
                <td class="rvo-table-cell">
                    <a href="{% url 'ministry-detail' ministry.pk %}" class="rvo-link">{{ ministry.name }} ({{ ministry.abbreviation }})</a>
                </td>
                <td class="rvo-table-cell">{{ ministry.assignment_count }}</td>
            </tr>
            {% empty %}
            <tr class="rvo-table-row">
                <td class="rvo-table-cell" colspan="2">Geen ministeries gevonden.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>