{% load static %}

<!-- Subnavigatie voor Inzetten sectie -->
{% if 'placements' in request.path %}
<div class="rvo-menubar__background rvo-menubar__background--horizontal-rule">
  <div class="rvo-max-width-layout rvo-max-width-layout--md rvo-max-width-layout-inline-padding--none">
    <nav class="rvo-menubar rvo-menubar--sm rvo-menubar--submenu-grid">
      <ul class="rvo-menubar__ul">
        <li class="rvo-menubar__list">
          <ul class="rvo-menubar__group--flex">
            <li class="rvo-menubar__item">
              <a href="{% url 'placements' %}" 
                 class="rvo-link rvo-menubar__link rvo-link--logoblauw {% if request.resolver_match.url_name == 'placements' %}rvo-menubar__link--active{% endif %}">
                Inzetten
              </a>
            </li>
            <li class="rvo-menubar__item">
              <a href="{% url 'placements-timeline' %}" 
                 class="rvo-link rvo-menubar__link rvo-link--logoblauw {% if request.resolver_match.url_name == 'placements-timeline' %}rvo-menubar__link--active{% endif %}">
                Beschikbaarheid
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endif %}