{% extends "base.html" %}

{% block content %}
<div>
  <a href="/assignments/" class="rvo-link rvo-link--with-icon rvo-link--no-underline">
    <span class="utrecht-icon rvo-icon rvo-icon-terug rvo-icon--md rvo-icon--hemelblauw rvo-link__icon--before" role="img" aria-label="Terug"></span>
    Terug naar opdrachten
  </a>
</div>
{% with form=form, heading="Nieuwe opdracht toevoegen", form_intro="<span class='rvo-text--bold'>Vul de gegevens in voor de nieuwe opdracht.</span> Voer de naam en startdatum van de opdracht in.", legend="Opdracht gegevens", submit_text="Opdracht toevoegen" %}
  {% include "parts/rvo_form_layout.html" %}
{% endwith %}
{% endblock content %}
