{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ static('css/placements.css') }}">
{% endblock %}

{% block header %}
{{ super() }}
{% with active_page='table' %}
  {% include 'parts/placement_navigation.html' %}
{% endwith %}
{% endblock %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--md">
  
  {% with url_name='placements-table', target_selector='#placement_table' %}
  {% include 'parts/generic_filter_bar.html' %}
{% endwith %}

  <!-- Content -->
  <div id="placement_table" class="rvo-table-container">
    {% include 'parts/placement_table.html' %}
  </div>

</div>

{% endblock %}