{% extends "base_error.html" %}
{% block title %}
  Geen toegang (403) · Wies
{% endblock title %}
{% block error_text %}
  Je hebt geen toegang tot deze pagina
{% endblock error_text %}
{% block error_supporting_text %}
  Denk je dat dit een fout is? Neem dan contact met ons op.
{% endblock error_supporting_text %}
{% block error_actions %}
  <nldd-button slot="actions" variant="secondary" start-icon="arrow-left" text="Terug naar de vorige pagina" data-action="history-back"></nldd-button>
  <nldd-button slot="actions" variant="secondary" start-icon="envelope" text="Stuur een e-mail" href="mailto:wies-odi@rijksoverheid.nl"></nldd-button>
{% endblock error_actions %}
