{% extends "base_error.html" %}
{% block title %}
  HTTP 500 - Serverfout - Wies
{% endblock title %}
{% block error_title %}
  HTTP 500 - Er ging iets mis
{% endblock error_title %}
{% block error_message %}
  Er is een onverwachte fout opgetreden. Probeer het later opnieuw.
{% endblock error_message %}
{% block error_extra %}
  <c-paragraph>
  Blijft het probleem bestaan? Neem contact op via <c-link href="mailto:wies-odi@rijksoverheid.nl">wies-odi@rijksoverheid.nl</c-link>.
  </c-paragraph>
{% endblock error_extra %}
