<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Database Admin</title>
    <script src="{{ static('vendor/htmx/htmx.min.js') }}"></script>
  </head>
  <body>
    <h1>
      <a href="{{ url('home') }}">home</a>/Database Admin
    </h1>
    Nr of assignments: {{ assignment_count }}
    <br>
    Nr of colleagues: {{ colleague_count }}
    {% if messages %}
      {% for message in messages %}<div>{{ message }}</div>{% endfor %}
    {% endif %}
    <h2>Clear All Data</h2>
    <form method="post"
          onsubmit="return confirm('Are you sure you want to clear all data?');">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="clear_data">
      <button type="submit">Clear All Data</button>
    </form>
    <h2>Load Dummy Data</h2>
    <form method="post">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="load_base_data">
      <button type="submit">Load base_dummy_data</button>
    </form>
    <form method="post">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="load_full_data">
      <button type="submit">Load full_dummy_data</button>
    </form>
    <h2>Add developer user</h2>
    <form method="post">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="add_developer_user">
      <button type="submit">Add dev user</button>
    </form>
    <h2>Sync all records from OTYS IIR</h2>
    <form method="post">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="sync_all_otys_records">
      <button type="submit">Sync all records from OTYS IIR</button>
    </form>
    <h2>Synchroniseer Organisaties</h2>
    <form method="post"
          hx-post="{{ url('djadmin-db') }}"
          hx-target="#task-list"
          hx-swap="innerHTML">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="sync_organizations">
      <button type="submit">Synchroniseer Organisaties</button>
    </form>
    <div id="task-list">{% include "parts/task_list.html" %}</div>
  </body>
</html>
