<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>Database Admin</title>
    <script src="{{ static('vendor/htmx/htmx.min.js') }}"></script>
  </head>
  <body>
    <c-h1>
    <c-link href="{{ url('home') }}">home</c-link>/Database Admin
    </c-h1>
    Nr of assignments: {{ assignment_count }}
    <br>
    Nr of colleagues: {{ colleague_count }}
    <br>
    Nr of organizations: {{ organization_count }}
    {% if messages %}
      {% for message in messages %}<div>{{ message }}</div>{% endfor %}
    {% endif %}
    <c-h2>Clear All Data</c-h2>
    <form method="post"
          onsubmit="return confirm('Are you sure you want to clear all data?');">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="clear_data">
      <c-button type="submit" kind="warning">Clear All Data</c-button>
    </form>
    <c-h2>Load Dummy Data</c-h2>
    <form method="post">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="load_base_data">
      <c-button type="submit" kind="secondary">Load base_dummy_data</c-button>
    </form>
    <c-h2>Download database dump</c-h2>
    <form method="post">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="export_data">
      <c-button type="submit" kind="secondary">Download database dump</c-button>
    </form>
    <c-h2>Upload database dump</c-h2>
    <form method="post" enctype="multipart/form-data">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="import_data">
      <input type="file" name="json_file" accept=".json" required>
      <c-button type="submit" kind="secondary">Upload database dump</c-button>
    </form>
    <c-h2>Sync all records from OTYS IIR</c-h2>
    <form method="post">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="sync_all_otys_records">
      <c-button type="submit" kind="secondary">Sync all records from OTYS IIR</c-button>
    </form>
    <c-h2>Synchroniseer Organisaties</c-h2>
    <form method="post"
          hx-post="{{ url('staff') }}"
          hx-target="#task-list"
          hx-swap="innerHTML">
      {{ get_csrf_hidden_input(request) }}
      <input type="hidden" name="action" value="sync_organizations">
      <c-button type="submit" kind="secondary">Synchroniseer Organisaties</c-button>
    </form>
    <div id="task-list">{% include "parts/task_list.html" %}</div>
  </body>
</html>
