{% extends "base.html" %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--xl">
  <div>
        <!-- Breadcrumbs -->
        <ol class="rvo-breadcrumbs rvo-breadcrumbs--sm">
          <li class="rvo-breadcrumbs-item">
            Opdrachten
          </li>
          <li class="rvo-breadcrumbs-item">
            <span class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--xs rvo-icon--hemelblauw" role="img" aria-label="Delta naar rechts"></span>
            <span class="rvo-breadcrumb-current-page">{{ object.name }}</span>
          </li>
        </ol>
    <c-h1 noMargins>{{ object.name }}</c-h1>
  </div>
  
  <div class="rvo-layout-column rvo-layout-gap--lg">
    <c-h2 noMargins>Opdracht gegevens</c-h2>
    
    <dl class="rvo-data-list">
      <dt>Opdracht naam</dt>
      <dd>{{ object.name }}</dd>
      <dt>Opdrachtgever</dt>
      <dd><a href="/clients/{{ object.organization }}">{{ object.organization }}</a></dd>
      <dt>Ministerie</dt>
      <dd>
        {% if object.ministry %}
          <a href="{{ url('ministry-detail', args=[object.ministry.pk]) }}" class="rvo-link">{{ object.ministry.name }} ({{ object.ministry.abbreviation }})</a>
        {% else %}
          <span class="rvo-text--italic">Geen ministerie opgegeven</span>
        {% endif %}
      </dd>
      <dt>Eigenaar</dt>
      <dd>
        {% if object.owner %}
          <a href="{{ url('colleague-detail', args=[object.owner.pk]) }}" class="rvo-link">{{ object.owner.name }}</a>
        {% else %}
          <span class="rvo-text--italic">Geen eigenaar opgegeven</span>
        {% endif %}
      </dd>
      <dt>Status</dt>
      <dd>
        <div class="rvo-tag rvo-tag--default">{{ object.status }}</div>
      </dd>
      <dt>Bron</dt>
      <dd>
        {% if object.source_url %}
          <a href="{{ object.source_url }}" target="_blank" class="rvo-link">{{ object.get_source_display() }} 
            <span class="utrecht-icon rvo-icon rvo-icon-externe-link rvo-icon--xs" role="img" aria-label="Externe link"></span>
          </a>
        {% else %}
          {{ object.get_source_display() }}
        {% endif %}
      </dd>
      <dt>Startdatum</dt>
      <dd>{{ object.start_date if object.start_date else "?" }}</dd>
      <dt>Einddatum</dt>
      <dd>{{ object.end_date if object.end_date else "?" }}</dd>
      <dt>Extra info</dt>
      <dd>{{ object.extra_info }}</dd>
      <dt>Acties</dt>
      <dd>
        <div class="rvo-layout-row rvo-layout-gap--sm">
            <!-- TODO jrc: buttons can not be replaced because title is not supported and disabled needs explicit "true"  -->
          <button class="utrecht-button utrecht-button--subtle utrecht-button--rvo-xs" disabled title="Wijzigingen moeten worden doorgevoerd in {{ object.get_source_display() }}">
            Opdracht bewerken
          </button>
          <button class="utrecht-button utrecht-button--subtle utrecht-button--warning utrecht-button--rvo-xs" disabled title="Wijzigingen moeten worden doorgevoerd in {{ object.get_source_display() }}">
            Opdracht verwijderen
          </button>
        </div>
      </dd>
    </dl>

    <!-- Tab Content -->
    <div id="tab-diensten" class="rvo-margin-block-end--md">

      {% for service in object.services.all() %}
      <div class="rvo-card rvo-card--outline rvo-card--padding-lg rvo-layout-margin-bottom--lg rvo-card--full-colour--grijs-100" style="margin: 10px;">
        <!-- Service Header -->
        <div class="rvo-layout-row rvo-layout-gap--md rvo-layout-align--space-between rvo-layout-align--center rvo-layout-margin-bottom--lg">
          <c-h3>{{ service.description }}</c-h3>
        </div>

        <!-- Details Grid -->
        <div class="rvo-layout-grid rvo-layout-gap--lg rvo-layout-grid-columns--three rvo-layout-margin-bottom--lg">
            <!-- Search Criteria -->
            <div class="rvo-layout-column">
              <label class="rvo-label">Rol </label>
              <div class="rvo-tag rvo-tag--default">{% if service.skill %}{{ service.skill.name }}{% else %}-{% endif %}</div>
            </div>
            <div class="rvo-layout-column">
              <label class="rvo-label">Wanneer </label>
              <p class="utrecht-paragraph rvo-paragraph--no-margins">
                {{ service.start_date.strftime("%-d %b %Y") if service.start_date else "?" }} - {{ service.end_date.strftime("%-d %b %Y") if service.end_date else "?" }}
              </p>
            </div>
        </div>
        
        {% if service.placements.all() %}
        <div class="rvo-layout-margin-bottom--md">
            <c-h4>Personen:</c-h4>

              <!-- Show assigned people -->
            {% for placement in service.placements.all() %}
            <div class="rvo-card rvo-card--outline rvo-card--padding-sm rvo-layout-margin-bottom--md rvo-card--full-colour--wit">
              <div class="rvo-layout-grid rvo-layout-gap--md rvo-layout-grid-columns--four">
                <div class="rvo-layout-column">
                 <label class="rvo-label">Naam </label>
                  {% if placement.colleague %}
                    <a href="{{ url('colleague-detail', args=[placement.colleague.pk]) }}" class="rvo-link">{{ placement.colleague.name }}</a>
                  {% else %}
                    <span class="rvo-text--italic">TBD</span>
                  {% endif %}
                </div>
                <div class="rvo-layout-column">
                  <label class="rvo-label">Periode</label>
                  <span>{{ placement.start_date.strftime("%-d %b %Y") if placement.start_date else "?" }} - {{ placement.end_date.strftime("%-d %b %Y") if placement.end_date else "?" }}</span>
                </div>
                <div class="rvo-layout-column">
                  <label class="rvo-label">Inzet </label>
                  <span>{% if placement.hours_per_week %}{{ placement.hours_per_week }} u/week{% else %}-{% endif %} </span>
                </div>
              </div>
            </div>
            {% endfor %}

        </div>
        {% endif %}
  
      </div>
      {% else %}
      <!-- TODO jrc: replace with c equivalent? -->
      <div class="rvo-card rvo-card--outline rvo-card--padding-lg">
        <p class="utrecht-paragraph rvo-paragraph--no-margins rvo-text--subtle">
          Geen diensten gedefinieerd voor deze opdracht.
        </p>
      </div>
      {% endfor %}
    
    </div>

  </div>
</div>
{% endblock content %}