<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        Wies
      {% endblock title %}
    </title>
    {# Favicon #}
    <link rel="icon" type="image/png" href="{{ static('WIES-fav.png') }}">
    <link rel="shortcut icon"
          type="image/png"
          href="{{ static('WIES-fav.png') }}">
    <link rel="stylesheet" href="{{ static('vendor/rvo/design-tokens.css') }}" />
    <link rel="stylesheet"
          href="{{ static('vendor/rvo/component-library.css') }}" />
    <link rel="stylesheet"
          href="{{ static('@nl-rvo/assets/icons/index.css') }}">
    <link rel="stylesheet"
          href="{{ static('@nl-rvo/assets/fonts/index.css') }}">
    <link rel="stylesheet" href="{{ static('css/rvo_overwrite.css') }}">
    <link rel="stylesheet" href="{{ static('css/base.css') }}">
    <script src="{{ static('vendor/htmx/htmx.min.js') }}"></script>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body class="rvo-theme">
    {% block header %}
      {% include "parts/header.html" %}
    {% endblock header %}
    <div class="rvo-layout-column rvo-layout-gap--xl">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
