{% extends "base.html" %}
{% block title %}
  Contact - Wies
{% endblock title %}
{% block content %}
  <c-h1>Contact</c-h1>
  <c-paragraph>
  Het team kan je het beste bereiken op Mattermost. Daarnaast kun je ons altijd een e-mail sturen:
  </c-paragraph>
  <c-alert kind="info">
  <a href="mailto:wies-odi@rijksoverheid.nl">wies-odi@rijksoverheid.nl</a>
  </c-alert>
  <c-h2>Mattermost chat</c-h2>
  <c-paragraph>
  Kom in contact met ons op Mattermost. Je kunt hier vragen stellen, ervaringen delen, meelezen en in
  contact komen met de mensen die aan Wies werken.
  </c-paragraph>
  <c-alert kind="info">
  <h3>Mattermost instellen</h3>
  <p>
    Zorg ervoor dat je <a href="https://www.mattermost.com/apps/"
    target="_blank"
    rel="noopener noreferrer">Mattermost hebt geïnstalleerd</a> en volg deze stappen:
  </p>
  <ol>
    <li>
      <a href="https://pleio.nl/register"
         target="_blank"
         rel="noopener noreferrer">Registreer een nieuwe account op Pleio</a>
    </li>
    <li>
      <a href="https://digilab.overheid.nl/chat"
         target="_blank"
         rel="noopener noreferrer">Login</a> → GitLab → Pleio
      <ul>
        <li>
          of configureer de volgende server in Mattermost: <code>https://digilab.overheid.nl/chat</code>
        </li>
      </ul>
    </li>
    <li>
      <a href="https://digilab.overheid.nl/chat/odi/channels/wies"
         target="_blank"
         rel="noopener noreferrer">Ga naar het Wies kanaal</a> of <a href="mailto:wies-odi@rijksoverheid.nl">vraag ons om je toe te voegen</a> aan het ODI team
    </li>
  </ol>
  <p>
    Kom je er niet uit? <a href="mailto:wies-odi@rijksoverheid.nl">Stuur ons een e-mail</a>!
  </p>
  </c-alert>
{% endblock content %}
