{% extends "base.html" %}
{% block extra_head %}
  <link rel="stylesheet" href="{{ static('css/admin_sidebar.css') }}">
  <link rel="stylesheet" href="{{ static('css/filter_settings.css') }}">
{% endblock extra_head %}
{% block extra_scripts %}
  <script src="{{ static('js/filter_settings.js') }}"></script>
{% endblock extra_scripts %}
{% block content %}
  <main class="rvo-sidebar-layout__container">
    <div class="rvo-sidebar-layout rvo-max-width-layout rvo-max-width-layout--lg">
      {% include "parts/admin_sidebar.html" %}
      <div class="rvo-sidebar-layout__content">
        <div class="rvo-layout-column rvo-layout-gap--lg">
          <div>
            <c-h1>Filter volgorde</c-h1>
            <p class="filter-settings-description">
              Bepaal de volgorde waarin filters worden weergegeven op de pagina <a href="{{ url('placements') }}">Wie zit waar?</a>.
              Gebruik de knoppen om filters omhoog of omlaag te verplaatsen.
            </p>
          </div>
          <div id="filter-list">{% include "parts/filter_list.html" %}</div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
