{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ static('css/admin_sidebar.css') }}">
{% endblock %}

{% block content %}

<main class="rvo-sidebar-layout__container">
  <div class="rvo-sidebar-layout rvo-max-width-layout rvo-max-width-layout--lg">
    {% include 'parts/admin_sidebar.html' %}
    <div class="rvo-sidebar-layout__content">
      <div class="rvo-layout-column rvo-layout-gap--xl">
        <div class="admin-header">
          <c-h1>Labels</c-h1>
          <c-button
            kind="primary"
            hx-get="{{ url('label-category-create', args=()) }}"
            hx-target="#labelFormModal"
            hx-swap="innerHTML">
            Nieuwe categorie
          </c-button>
        </div>
        <!-- Categories and Labels -->
        {% if categories %}
          {% for category in categories %}
            <div id="label_category_{{ category.id }}">
            {% include 'parts/label_category.html' %}
            </div>
          {% endfor %}
        {% else %}
          <p>Geen categorieën gevonden. Maak een nieuwe categorie aan om te beginnen.</p>
        {% endif %}

        <!-- Modal container -->
        <div id="labelFormModal"></div>
      </div>
    </div>
  </div>
</main>


<script>

  //Make sure modal is closed if category blocks are swapped
  {% for category in categories %}
    category_block = document.getElementById("label_category_{{ category.id }}");
    category_block.addEventListener("htmx:afterSwap", function(e){
      modal = document.getElementById("labelFormModal");
      modal.innerHTML = '';
    })
  {% endfor %}
  
</script>

{% endblock %}
