{% extends "base.html" %}
{% block extra_head %}
  <link rel="stylesheet" href="{{ static('css/admin_labels.css') }}">
  <link rel="stylesheet" href="{{ static('css/admin_sidebar.css') }}">
  <script src="{{ static('js/dialog.js') }}"></script>
{% endblock extra_head %}
{% block sidebar %}
  <div class="app-sidebar__content">
    <nav class="rvo-menubar rvo-menubar--md">
      <ul class="rvo-menubar__ul">
        <li class="rvo-menubar__list rvo-menubar__list--vertical">
          <ul class="rvo-menubar__group--flex rvo-menubar__group--vertical">
            <li class="rvo-menubar__item">
              <a href="{{ url('admin-users') }}"
                 class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--logoblauw {% if '/gebruikers/' in request.path %}menu-item--active{% endif %}">
                <span class="utrecht-icon rvo-icon rvo-icon-user rvo-icon--md rvo-icon--logoblauw rvo-link__icon--before"
                      role="img"
                      aria-label="Gebruikers"></span>
                Gebruikers
              </a>
            </li>
            <li class="rvo-menubar__item">
              <a href="{{ url('label-admin') }}"
                 class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--logoblauw {% if '/labels/' in request.path %}menu-item--active{% endif %}">
                <span class="utrecht-icon rvo-icon rvo-icon-label rvo-icon--md rvo-icon--logoblauw rvo-link__icon--before"
                      role="img"
                      aria-label="Labels"></span>
                Labels
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
{% endblock sidebar %}
{% block content %}
  <div class="rvo-layout-column rvo-layout-gap--xl">
    <div class="admin-header">
      <c-h1>Labels</c-h1>
      <c-button kind="primary" icon="plus" iconPlacement="before" hx-get="{{ url('label-category-create', args=() ) }}" hx-target="#labelFormModal" hx-swap="innerHTML">
      Categorie toevoegen
      </c-button>
    </div>
    <!-- Categories and Labels -->
    {% if categories %}
      {% for category in categories %}
        <div id="label_category_{{ category.id }}">{% include "parts/label_category.html" %}</div>
      {% endfor %}
    {% else %}
      <p>Geen categorieën gevonden. Maak een nieuwe categorie aan om te beginnen.</p>
    {% endif %}
    <!-- Modal container -->
    <div id="labelFormModal"></div>
  </div>
{% endblock content %}
