{% extends "base.html" %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--xl">
  <div>
    
    <!-- Breadcrumbs -->
    <ol class="rvo-breadcrumbs rvo-breadcrumbs--sm">
      <li class="rvo-breadcrumbs-item">
        Ministeries
      </li>
      <li class="rvo-breadcrumbs-item">
        <span class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--xs rvo-icon--hemelblauw" role="img" aria-label="Delta naar rechts"></span>
        <span class="rvo-breadcrumb-current-page">{{ object.abbreviation }}</span>
      </li>
    </ol>

    <c-h1 noMargins>{{ object.name }}</c-h1>
  </div>
  
  <div class="rvo-layout-column rvo-layout-gap--lg">
    <c-h2 noMargins>Opdrachten</c-h2>
    
    {% if assignments %}
      <div class="rvo-table--responsive">
        <!-- TODO jrc: can this be changed in jrc equivalent? -->
        <table class="rvo-table">
          <thead class="rvo-table-head">
            <tr class="rvo-table-row">
              <th class="rvo-table-header">Opdracht</th>
              <th class="rvo-table-header">Opdrachtgever</th>
              <th class="rvo-table-header">Status</th>
              <th class="rvo-table-header">Startdatum</th>
              <th class="rvo-table-header">Einddatum</th>
            </tr>
          </thead>
          <tbody class="rvo-table-body">
            {% for assignment in assignments %}
            <tr class="rvo-table-row clickable-row" onclick="window.location='{{ url('assignment-detail', args=[assignment.id]) }}'">
              <td class="rvo-table-cell">
                {{ assignment.name }}
              </td>
              <td class="rvo-table-cell">{{ assignment.organization }}</td>
              <td class="rvo-table-cell">
                <div class="rvo-tag rvo-tag--default">{{ assignment.status }}</div>
              </td>
              <td class="rvo-table-cell">{{ assignment.start_date.strftime("%d-%m-%Y") if assignment.start_date else "?" }}</td>
              <td class="rvo-table-cell">{{ assignment.end_date.strftime("%d-%m-%Y") if assignment.end_date else "?" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p class="rvo-text--italic">Geen opdrachten gevonden voor dit ministerie.</p>
    {% endif %}

  </div>
</div>
{% endblock content %}
