{% extends "base.html" %}
{% block extra_head %}
  <link rel="stylesheet" href="{{ static('css/nldd/filters.css') }}">
  <link rel="stylesheet" href="{{ static('css/nldd/side_panel.css') }}">
  <link rel="stylesheet" href="{{ static('css/nldd/client_modal.css') }}">
  <script src="{{ static('js/nldd/filter_interactions.js') }}" defer></script>
  <script src="{{ static('js/nldd/sidebar_toggle.js') }}" defer></script>
  <script src="{{ static('js/nldd/side_panel.js') }}" defer></script>
  <script src="{{ static('js/nldd/client_modal.js') }}" defer></script>
{% endblock extra_head %}
{% block sidebar %}
  {% include "parts/filter_sidebar.html" %}
{% endblock sidebar %}
{% block content %}
  {% include "parts/filter_and_table_container.html" %}
{% endblock content %}
{% block panel %}
  {# nldd-sheet zit altijd in de DOM; HTMX vult de nldd-page #side-panel-content.
     De page is een directe child van de sheet: de sheet stretcht alleen ::slotted(nldd-page). #}
  <nldd-sheet id="side-panel" placement="right" width="480px" accessible-label="Detail">
  <nldd-page id="side-panel-content" sticky-header>
  {% if panel_data %}
    {% include panel_data.panel_content_template %}
  {% endif %}
  </nldd-page>
  </nldd-sheet>
  <div id="nldd-client-modal-container"></div>
  <div id="nldd-filter-options-modal-container"></div>
{% endblock panel %}
