{% extends "base.html" %}
{% block extra_head %}
  <link rel="stylesheet" href="{{ static('css/placements.css') }}">
  <link rel="stylesheet"
        href="{{ static('css/placement_filter_sidebar.css') }}">
  <link rel="stylesheet" href="{{ static('css/side_panel.css') }}">
  <script src="{{ static('js/placement_filter_sidebar.js') }}"></script>
  <script src="{{ static('js/dialog.js') }}"></script>
  <script src="{{ static('js/side_panel.js') }}"></script>
{% endblock extra_head %}
{% block sidebar %}
  {% include "parts/filter_sidebar.html" %}
{% endblock sidebar %}
{% block content %}
  {% include "parts/filter_and_table_container.html" %}
{% endblock content %}
{% block panel %}
  <div id="side_panel-container">
    {% if panel_data %}
      {% set colleague = panel_data.colleague %}
      {% set assignment = panel_data.assignment %}
      {% include "parts/side_panel.html" %}
    {% endif %}
  </div>
{% endblock panel %}
