{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="{{ static('css/user_list.css') }}">
{% endblock %}

{% block content %}
<div class="rvo-layout-column rvo-layout-gap--md">

  <div class="page-header">
    <c-h1>Gebruikers</c-h1>
    <button
      hx-get="{{ url('user-create') }}"
      hx-target="#userFormModal"
      class="utrecht-button utrecht-button--primary-action utrecht-button--rvo-md rvo-button">
      Nieuwe gebruiker
    </button>
  </div>

  {% with url_name='users', target_selector='#user_table' %}
    {% include 'parts/generic_filter_bar.html' %}
  {% endwith %}

  <!-- Content -->
  <div id="user_table" class="rvo-table-container">
    {% include 'parts/user_table.html' %}
  </div>

  <!-- Modal container -->
  <div id="userFormModal"></div>

</div>

{% endblock %}
