{# NDD admin sidebar — navigatie voor beheerpagina's. #}
<nldd-list>
<nldd-list-item type="link" href="{{ url('admin-users') }}"
{% if '/beheer/gebruikers/' in request.path %}current{% endif %}
>
<nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
<nldd-icon-cell slot="start" size="20">
<nldd-icon name="person"></nldd-icon>
</nldd-icon-cell>
<nldd-spacer-cell slot="start" size="8"></nldd-spacer-cell>
<nldd-title-cell text="Gebruikers"></nldd-title-cell>
<nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
</nldd-list-item>
{% if DEBUG %}
  <nldd-list-item type="link" href="{{ url('organization-admin') }}"
  {% if '/organisaties/' in request.path %}current{% endif %}
  >
  <nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
  <nldd-icon-cell slot="start" size="20">
  <nldd-icon name="apartment-building"></nldd-icon>
  </nldd-icon-cell>
  <nldd-spacer-cell slot="start" size="8"></nldd-spacer-cell>
  <nldd-title-cell text="Opdrachtgevers"></nldd-title-cell>
  <nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
  </nldd-list-item>
{% endif %}
<nldd-list-item type="link" href="{{ url('label-admin') }}"
{% if '/beheer/labels/' in request.path %}current{% endif %}
>
<nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
<nldd-icon-cell slot="start" size="20">
<nldd-icon name="tag"></nldd-icon>
</nldd-icon-cell>
<nldd-spacer-cell slot="start" size="8"></nldd-spacer-cell>
<nldd-title-cell text="Labels"></nldd-title-cell>
<nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
</nldd-list-item>
{% if can_view_staff_page(user) %}
  <nldd-list-item type="link" href="{{ url('staff-dashboard') }}"
  {% if '/statistieken/' in request.path %}current{% endif %}
  >
  <nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
  <nldd-icon-cell slot="start" size="20">
  <nldd-icon name="chart-bar"></nldd-icon>
  </nldd-icon-cell>
  <nldd-spacer-cell slot="start" size="8"></nldd-spacer-cell>
  <nldd-title-cell text="Statistieken"></nldd-title-cell>
  <nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
  </nldd-list-item>
  <nldd-list-item type="link" href="{{ url('staff-database') }}"
  {% if '/database/' in request.path %}current{% endif %}
  >
  <nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
  <nldd-icon-cell slot="start" size="20">
  <nldd-icon name="database"></nldd-icon>
  </nldd-icon-cell>
  <nldd-spacer-cell slot="start" size="8"></nldd-spacer-cell>
  <nldd-title-cell text="Database"></nldd-title-cell>
  <nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
  </nldd-list-item>
{% endif %}
</nldd-list>
