{% set page_messages = get_messages(request) %}
{% if page_messages %}
  <div class="flash-messages" id="flash-messages">
    {% for message in page_messages %}
      {% set link = message.extra_tags|parse_message_link %}
      {% set _variant = 'success' if 'success' in message.tags else 'critical' if 'error' in message.tags else 'neutral' %}
      {% if link %}
        <nldd-banner variant="{{ _variant }}" text="{{ message }}">
        <nldd-rich-text><a href="{{ link.url }}">{{ link.text }}</a></nldd-rich-text>
        </nldd-banner>
      {% else %}
        <nldd-banner variant="{{ _variant }}" text="{{ message }}"></nldd-banner>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
