{# General contextual sidebar for pages without their own (profiel, content,
   formulieren). Primary navigation + "Over deze site" links. #}
<nldd-list>
  <nldd-list-item type="link" href="{{ url('home') }}"
    {% if request.path == url('home') %}current{% endif %}>
    <nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
    <nldd-icon-cell slot="start" size="20"><nldd-icon name="list"></nldd-icon></nldd-icon-cell>
    <nldd-spacer-cell slot="start" size="8"></nldd-spacer-cell>
    <nldd-title-cell text="Wie zit waar?"></nldd-title-cell>
    <nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
  </nldd-list-item>
  <nldd-list-item type="link" href="{{ url('assignment-list') }}"
    {% if '/aanvragen' in request.path or '/opdrachten' in request.path %}current{% endif %}>
    <nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
    <nldd-icon-cell slot="start" size="20"><nldd-icon name="clipboard"></nldd-icon></nldd-icon-cell>
    <nldd-spacer-cell slot="start" size="8"></nldd-spacer-cell>
    <nldd-title-cell text="Aanvragen"></nldd-title-cell>
    <nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
  </nldd-list-item>
  <nldd-list-item type="link" href="{{ url('user-profile') }}"
    {% if '/profiel' in request.path %}current{% endif %}>
    <nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
    <nldd-icon-cell slot="start" size="20"><nldd-icon name="person"></nldd-icon></nldd-icon-cell>
    <nldd-spacer-cell slot="start" size="8"></nldd-spacer-cell>
    <nldd-title-cell text="Profiel"></nldd-title-cell>
    <nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
  </nldd-list-item>
</nldd-list>

<p class="nldd-sidebar-heading">Over deze site</p>
<nldd-list>
  <nldd-list-item type="link" href="{{ url('privacy') }}">
    <nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
    <nldd-title-cell text="Privacy"></nldd-title-cell>
    <nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
  </nldd-list-item>
  <nldd-list-item type="link" href="{{ url('toegankelijkheid') }}">
    <nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
    <nldd-title-cell text="Toegankelijkheid"></nldd-title-cell>
    <nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
  </nldd-list-item>
  <nldd-list-item type="link" href="{{ url('contact') }}">
    <nldd-spacer-cell slot="start" size="12"></nldd-spacer-cell>
    <nldd-title-cell text="Contact"></nldd-title-cell>
    <nldd-spacer-cell slot="end" size="12"></nldd-spacer-cell>
  </nldd-list-item>
</nldd-list>
