<dialog id="{{ modal_element_id }}" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="utrecht-heading-2">{{ modal_title }}</h2>
      <button type="button" class="modal-close" onclick="this.closest('dialog').close()">&times;</button>
    </div>

    <form method="post" action="{{ form_post_url }}" hx-post="{{ form_post_url }}" hx-target="#{{ target_element_id }}">
      {{ get_csrf_hidden_input(request) }}

      <div class="modal-body">
        {{ content }}
      </div>

      <div class="modal-footer">
        <div class="modal-footer-buttons">
          <div onclick="this.closest('dialog').close()">
            <c-button kind="{% if warning_modal %}warning-subtle{% else %}secondary{% endif %}" type="button">
              Annuleren
            </c-button>
          </div>
          {% if delete_url %}
          <form class="modal-footer-delete-form" method="post" action="{{ delete_url }}" onsubmit="return confirm('{{ delete_confirm_message|default('Weet je zeker dat je dit wilt verwijderen?') }}');">
            {{ get_csrf_hidden_input(request) }}
            <c-button kind="warning-subtle" type="submit">
              Verwijderen
            </c-button>
          </form>
          {% endif %}
        </div>
        <c-button kind="{% if warning_modal %}warning{% else %}primary{% endif %}" type="submit">
          {{ form_button_label }}
        </c-button>
      </div>
    </form>
  </div>
</dialog>

