<nldd-window id="{{ modal_element_id }}" accessible-label="{{ modal_title }}" width="600px">
<nldd-page sticky-header sticky-footer>
<nldd-top-title-bar slot="header" text="{{ modal_title }}" dismiss-text="Sluiten"></nldd-top-title-bar>
<form method="post"
      action="{{ form_post_url }}"
      hx-post="{{ form_post_url }}"
      hx-target="#{{ target_element_id }}"
      style="display: flex;
             flex-direction: column;
             height: 100%">
  {{ get_csrf_hidden_input(request) }}
  <div style="flex: 1; padding: var(--primitives-space-16, 16px);">
    {% if delete_warning %}
      <nldd-rich-text>
      <p>{{ delete_warning }}</p>
      </nldd-rich-text>
    {% else %}
      {{ content }}
    {% endif %}
  </div>
  <nldd-container slot="footer" padding-inline="16" padding-bottom="16">
  <nldd-button-group orientation="horizontal">
  <nldd-button variant="{{ 'warning' if warning_modal else 'primary' }}" type="submit" text="{{ form_button_label }}"></nldd-button>
  {% if delete_url %}
    <nldd-button variant="warning-subtle" text="Verwijderen" hx-get="{{ delete_url }}" hx-target="#{{ modal_element_id }}" hx-swap="outerHTML"></nldd-button>
  {% endif %}
  <nldd-button variant="secondary" type="button" text="Annuleren" onclick="this.closest('nldd-window').hide()"></nldd-button>
  </nldd-button-group>
  </nldd-container>
</form>
</nldd-page>
</nldd-window>
