<div class="rvo-alert rvo-alert--warning rvo-alert--padding-sm">
    <div class="alert-text">
        <div>
            <b><a class="rvo-link" href="https://github.com/RijksICTGilde/wies/">Prototype</a></b> |  Deze website is voortdurend in ontwikkeling | Het kan zijn dat data wordt verwijderd of dat er tijdelijk geen data beschikbaar is. <br>
        </div>
    </div>
</div>
<header class="rvo-header">
  <div class="rvo-header__logo-wrapper">
    <a href="/placements/" class="rvo-link rvo-link--no-underline">
      <div class="rvo-logo rvo-header__logo-img">
        <div class="rvo-logo__emblem">
          <img src="{{ static('@nl-rvo/assets/images/emblem.svg') }}" alt="RVO Embleem">
        </div>
        <div class="rvo-logo__wordmark">
          <p class="rvo-logo__title">Rijksorganisatie voor Ontwikkeling, <br> Digitalisering en Innovatie</p>
        </div>
      </div>
    </a>
  </div>
</header>

<div class="rvo-menubar__background rvo-menubar__background--horizontal-rule">
  <div class="rvo-max-width-layout rvo-max-width-layout--md rvo-max-width-layout-inline-padding--none">
    <nav class="rvo-menubar rvo-menubar--md">
      <ul class="rvo-menubar__ul">
        <li class="rvo-menubar__list">
          <ul class="rvo-menubar__group--flex">
            <li class="rvo-menubar__item">
              <a href="/placements/" class="rvo-link rvo-menubar__link rvo-link--logoblauw {% if '/placements/' in request.path %}menu-item--active{% endif %}">Wie zit waar?</a>
            </li>
            <li class="rvo-menubar__item">
              <a href="/users/" class="rvo-link rvo-menubar__link rvo-link--logoblauw {% if '/users/' in request.path %}menu-item--active{% endif %}">Gebruikers</a>
            </li>
          </ul>
          <ul class="rvo-menubar__group--flex">
            <li class="rvo-menubar__item">
              {% if user.is_authenticated %}

                {% if user.colleague %}
                  <!-- TODO jrc: ideally you dont have to specify the showIcon, color and icon for obvious case -->
                  <c-link href="/colleagues/271" icon="user" showIcon="before" iconColor="logoblauw" iconSize="md" class="rvo-menubar__link rvo-link--logoblauw">
                    {{ user.get_full_name() }}
                  </c-link>
                {% else %}
                  <c-link href="#" icon="user" showIcon="before" iconColor="logoblauw" iconSize="md" class="rvo-menubar__link rvo-link--logoblauw">
                    {{ user.get_full_name() }}
                  </c-link>
                {% endif %}
              {% endif %}
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
