{% include "parts/header_logo.html" %}
<div class="rvo-menubar__background rvo-menubar__background--horizontal-rule">
  <div class="rvo-max-width-layout rvo-max-width-layout--placements rvo-max-width-layout-inline-padding--md">
    <nav class="rvo-menubar rvo-menubar--md">
      <ul class="rvo-menubar__ul">
        <li class="rvo-menubar__list">
          <ul class="rvo-menubar__group--flex">
            <li class="rvo-menubar__item">
              <a href="{{ url('home') }}"
                 class="rvo-link rvo-link--no-underline rvo-link--logoblauw {% if request.resolver_match.url_name == 'home' %}menu-item--active{% endif %}">
                <img src="{{ static('wies.svg') }}" alt="Wies logo" class="wies-logo">
                Wie zit waar?
              </a>
            </li>
          </ul>
          <ul class="rvo-menubar__group--flex">
            <li class="rvo-menubar__item">
              {% if user.is_authenticated %}
                {% if user.colleague %}
                  <a href="{{ url('home') }}?collega={{ user.colleague.id }}"
                     class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--logoblauw">
                    <span class="utrecht-icon rvo-icon rvo-icon-user rvo-icon--md rvo-icon--logoblauw rvo-link__icon--before"
                          role="img"
                          aria-label="User"></span>
                    {{ user.get_full_name() }}
                  </a>
                {% else %}
                  <a href="#"
                     class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--logoblauw">
                    <span class="utrecht-icon rvo-icon rvo-icon-user rvo-icon--md rvo-icon--logoblauw rvo-link__icon--before"
                          role="img"
                          aria-label="User"></span>
                    {{ user.get_full_name() }}
                  </a>
                {% endif %}
              {% endif %}
            </li>
            {% if user.has_perms(['core.view_user', 'core.view_labelcategory']) %}
              <li class="rvo-menubar__item">
                <a href="{{ url('admin-users') }}"
                   class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--logoblauw {% if "/instellingen/" in request.path %}menu-item--active{% endif %}">
                  <span class="utrecht-icon rvo-icon rvo-icon-instellingen rvo-icon--md rvo-icon--logoblauw rvo-link__icon--before"
                        role="img"
                        aria-label="Instellingen"></span>
                  Instellingen
                </a>
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
