{# Menubar met navigatie - binnen layout__body grid #}
<div class="menubar">
  <div class="menubar__sidebar-section"></div>
  <nav class="menubar__nav-section">
    <button type="button"
            class="menubar__mobile-toggle"
            onclick="this.closest('.menubar').classList.toggle('menubar--mobile-open')"
            aria-label="Menu">
      <span class="menubar__mobile-toggle-icon menubar__mobile-toggle-icon--hamburger"></span>
      <span class="menubar__mobile-toggle-icon menubar__mobile-toggle-icon--close utrecht-icon rvo-icon rvo-icon-kruis rvo-icon--md"
            role="img"
            aria-label="Sluiten"></span>
    </button>
    <div class="menubar__nav-wrapper">
      <ul class="menubar__nav-left">
        <li>
          <a href="{{ url('home') }}"
             class="rvo-link rvo-link--no-underline rvo-link--lintblauw {% if request.path == '/' %}menu-item--active{% endif %}">
            Wie zit waar?
          </a>
        </li>
        <li>
          <a href="{{ url('assignment-list') }}"
             class="rvo-link rvo-link--no-underline rvo-link--lintblauw {% if '/opdrachten/' in request.path %}menu-item--active{% endif %}">
            Vacatures
          </a>
        </li>
      </ul>
      <ul class="menubar__nav-right">
        {% if user.is_authenticated %}
          <li>
            <a href="{{ url('user-profile') }}"
               class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--lintblauw {% if '/profiel/' in request.path %}menu-item--active{% endif %}">
              <span class="utrecht-icon rvo-icon rvo-icon-user rvo-icon--md rvo-icon--lintblauw rvo-link__icon--before"
                    role="img"
                    aria-label="User"></span>
              {{ user.get_full_name() }}
            </a>
          </li>
        {% endif %}
        {% if user.has_perms(['rijksauth.view_user', 'core.view_labelcategory']) %}
          <li>
            <a href="{{ url('admin-users') }}"
               class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--lintblauw {% if '/beheer/' in request.path %}menu-item--active{% endif %}">
              <span class="utrecht-icon rvo-icon rvo-icon-instellingen rvo-icon--md rvo-icon--lintblauw rvo-link__icon--before"
                    role="img"
                    aria-label="Beheer"></span>
              Beheer
            </a>
          </li>
          <li class="menubar__submenu-item">
            <a href="{{ url('admin-users') }}"
               class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--lintblauw {% if '/gebruikers/' in request.path %}menu-item--active{% endif %}">
              <span class="utrecht-icon rvo-icon rvo-icon-user rvo-icon--md rvo-icon--lintblauw rvo-link__icon--before"
                    role="img"
                    aria-label="Gebruikers"></span>
              Gebruikers
            </a>
          </li>
          {% if DEBUG %}
            <li class="menubar__submenu-item">
              <a href="{{ url('organization-admin') }}"
                 class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--lintblauw {% if '/organisaties/' in request.path %}menu-item--active{% endif %}">
                <span class="utrecht-icon rvo-icon rvo-icon-publicatie rvo-icon--md rvo-icon--lintblauw rvo-link__icon--before"
                      role="img"
                      aria-label="Opdrachtgevers"></span>
                Opdrachtgevers
              </a>
            </li>
          {% endif %}
          <li class="menubar__submenu-item">
            <a href="{{ url('label-admin') }}"
               class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--lintblauw {% if '/labels/' in request.path %}menu-item--active{% endif %}">
              <span class="utrecht-icon rvo-icon rvo-icon-label rvo-icon--md rvo-icon--lintblauw rvo-link__icon--before"
                    role="img"
                    aria-label="Labels"></span>
              Labels
            </a>
          </li>
        {% endif %}
        {% if is_staff_user(user) %}
          <li class="menubar__submenu-item">
            <a href="{{ url('staff-dashboard') }}"
               class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--lintblauw {% if '/gebruik/' in request.path %}menu-item--active{% endif %}">
              <span class="utrecht-icon rvo-icon rvo-icon-grafiek rvo-icon--md rvo-icon--lintblauw rvo-link__icon--before"
                    role="img"
                    aria-label="Gebruik"></span>
              Gebruik
            </a>
          </li>
          <li class="menubar__submenu-item">
            <a href="{{ url('staff-database') }}"
               class="rvo-link rvo-link--with-icon rvo-link--no-underline rvo-link--lintblauw {% if '/database/' in request.path %}menu-item--active{% endif %}">
              <span class="utrecht-icon rvo-icon rvo-icon-database rvo-icon--md rvo-icon--lintblauw rvo-link__icon--before"
                    role="img"
                    aria-label="Database"></span>
              Database
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
