<div class="rvo-table--responsive" id="placement_table">
  <table class="rvo-table">
    <thead class="rvo-table-head">
      <tr class="rvo-table-row">
        {% with field='name', label='Naam', target='#placement_table', sort_state=get_sort_state(request, 'name') %}
          {% include 'parts/generic_sortable_header.html' %}
        {% endwith %}
        {% with field='assignment', label='Opdracht', target='#placement_table', sort_state=get_sort_state(request, 'assignment') %}
          {% include 'parts/generic_sortable_header.html' %}
        {% endwith %}
        {% with field='skill', label='Rol', target='#placement_table', sort_state=get_sort_state(request, 'skill') %}
          {% include 'parts/generic_sortable_header.html' %}
        {% endwith %}
        <th class="rvo-table-header">Periode</th>
      </tr>
    </thead>
    <tbody>
      {% include 'parts/placement_table_rows.html' %}
    </tbody>
  </table>
</div>
