<div class="rvo-dialog__background" 
     id="side_panel-overlay">
  <dialog class="rvo-dialog rvo-dialog--wit rvo-dialog--inset-inline-end"
          aria-label="{{ panel_data.panel_title }}"
          id="side_panel"
          onclick="event.stopPropagation()">
    
    <div class="rvo-dialog__close">
      <button type="button" class="modal-close-button" onclick="window.history.back();">
        &times;
      </button>
    </div>
    
    <div class="rvo-dialog__content">
      {% if panel_data.breadcrumb_items %}
      <ol class="rvo-breadcrumbs rvo-breadcrumbs--lg">
        {% for item in panel_data.breadcrumb_items %}
          <li class="rvo-breadcrumbs-item">
            {% if not loop.first %}
              <span class="utrecht-icon rvo-icon rvo-icon-delta-naar-rechts rvo-icon--xs rvo-icon--hemelblauw"
                    role="img"
                    aria-label="Delta naar rechts"></span>
            {% endif %}
            {% if loop.last %}
              <span class="rvo-breadcrumb-current-page">{{ item.text }}</span>
            {% else %}
              <a class="rvo-link rvo-link--no-underline rvo-breadcrumb-button"
                 href="{{ item.url }}">
                {{ item.text }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ol>
      {% endif %}
            
      {% include panel_data.panel_content_template %}
    </div>
  </dialog>
</div>