name: PR Cleanup

on:
  pull_request:
    types: [closed]

env:
  IMAGE_TAG: pr-${{ github.event.pull_request.number }}
  DEPLOYMENT_NAME: pr-${{ github.event.pull_request.number }}

jobs:
  cleanup:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      deployments: write
      packages: write
      pull-requests: write

    steps:
      - name: Cleanup ZAD deployment
        uses: RijksICTGilde/zad-actions/cleanup@v1
        with:
          api-key: ${{ secrets.ZAD_API_KEY }}
          project-id: wies
          deployment-name: ${{ env.DEPLOYMENT_NAME }}
          delete-github-env: true
          delete-github-deployments: true
          delete-container: true
          container-org: rijksictgilde
          container-name: wies
          container-tag: ${{ env.IMAGE_TAG }}
          update-pr-comment: true
